{% extends "base.html" %}

{% block title %}Quickread{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="css/jquery.treetable.css">
    <link rel="stylesheet" href="css/jquery.treetable.theme.default.css">
    <link rel="stylesheet" href="css/split-pane.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/jquery.pnotify.default.css">

    <style>
        .ui-pnotify.stack-bar-bottom {
            margin-left: 0;
            left: 0;
            bottom: 0;
            top: auto;
            right: auto;
            width: 100%;
        }

        tr > td > span.title {
            padding-left: 0;
        }
    </style>
{% endblock %}

{% block content %}
                <div class="container split-pane-frame">
                    <div class="col-lg-12 split-pane-row">
                        <div class="split-pane fixed-left">
                            <div class="split-pane-component" id="left-component">
                                <div class="decoration">
                                    <div id="treecontainer">
                                        <div class="loading" style="display: none;"><img src="resources/images/loader.gif" alt="">Loading data ...</div>
                                        <table id="treetable" style="display: none;">
                                            <tbody id="tree-content"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="split-pane-divider" id="my-divider"></div>
                            <div class="split-pane-component" id="right-component">
                                <div class="decoration">
                                    <div class="row" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
                                        <form class="form-horizontal" role="form" id="edit-form" action="action" data-url="action" data-operation="edit-data" data-method="post">
                                            <div class="form-group">
                                                <label for="nodeTitle" class="col-sm-2 control-label">Titel</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="nodeTitle" name="nodeTitle" placeholder="Titel" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="nodeText" class="col-sm-2 control-label">Text</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3" id="nodeText" name="nodeText" placeholder="Text" disabled="disabled"></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" id="nodeKeyUrl" name="nodeKeyUrl" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container" style="margin-top: 60px;">
                    <div id="internal_content">
                        {{internal_content}}
                    </div>
                </div>
{% endblock %}

{% block script %}
        <script>
            var selected_index = null;
        </script>

        <script src="js/jquery/jquery-ui.js"></script>
        <script src="js/jquery/jquery.treetable.js"></script>
        <script src="js/jquery/jquery.pnotify.min.js"></script>
        <script src="js/jquery/jquery.timer.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>

        <script src="js/utilities.js"></script>
        <script src="js/split-pane.js"></script>
        <script src="js/treetable.js"></script>
        <script src="js/toolbar.js"></script>
        <script src="js/persistence.js"></script>

        <script>
            $.pnotify.defaults.delay = 1000;
            var stack_bar_bottom = {"dir1": "up", "dir2": "right", "spacing1": 0, "spacing2": 0};

            $(document).ready(function(e) {
                $('.loading').show();
                $('div.split-pane').splitPane();
                $.getJSON('/overview?operation=list-data', function(result) {
                    var html = '';
                    var dataObject = JSON.parse(result.data);
                    $.each(dataObject, function(key, value) {
                        html += get_table_row(value);
                    });
                    $('#tree-content').html(html);
                    $("#treetable").treetable({
                        indent: 10,
                        expandable: true
                    });
                    
                    //colorize();
                    $('#treetable tr').click(row_clicked);
                    $('.loading').hide();
                    $('#treetable').show();
                });

                setToolbarHandler();
                setPersistenceHandler();
            });
        </script>
{% endblock %}