<!-- Start oberer Navigationsteil -->
<div class="navbar navbar-fixed-top navbar-default" id="top-navigation" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Quickread</a>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text pull-right">
                {%- if username != None -%}
                Logged in as <a href="#" class="navbar-link" id="logout-link">{{username}}</a> (<a href="{{url}}" class="navbar-link">Logout</a>)
                {%- else -%}
                <a href="{{url}}" class="navbar-link" id="login-link">Login</a>
                {%- endif -%}
            </p>
            {%- if username != None -%}
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="https://bitbucket.org/dudy/quickread2/issues/new" target="_blank">Feedback</a></li>
                {%- if is_admin == True -%}
                <li><a href="/test">UnitTests</a></li>
                <li><a href="/admin">Admin</a></li>
                {%- endif -%}
            </ul>
            {%- endif -%}
        </div>
    </div>
</div>
<!-- Ende oberer Navigationsteil -->
