<div class="navbar navbar-default" id="toolbar" role="navigation" style="margin-top: 90px;">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-toolbar" disabled="disabled" data-operation="add-node" text-success="Knoten erfolgreich hinzugefügt" text-fail="Knoten konnte nicht hinzugefügt werden"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-primary btn-toolbar" disabled="disabled" data-operation="delete-node" text-success="Knoten erfolgreich gelöscht" text-fail="Knoten konnte nicht gelöscht werden" data-toggle="modal" data-target="#confirm" data-confirm="true"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirmLabel"></h4>
            </div>

            <div class="modal-body">
                <p id="confirmText"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirmNoButton"></button>
                <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal" id="confirmYesButton"></button>
            </div>
        </div>
    </div>
</div>