<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quickread - UnitTest Run</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/fonts/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
        <link rel="stylesheet" href="/css/unittests.css">
        
        {{head}}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrap">
            {{navigation_top}}
            
            {%- if username != None -%}
            <div id="content">
                {{test_results}}
            </div>
            
            <div>
                <p>elapsed time: {{time}}ms</p>
            </div>
            {%- endif %}
        </div>
        
        {{footer}}
        
        <script src="/js/jquery/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        <script>
            $(document).ready(function() {
                $('.navbar ul li.active').removeClass('active');
                $('.navbar ul li:last').addClass('active');
            });
        </script>
    </body>
</html>
