{% extends "base.html" %}

{% block title %}Quickread - Treetable Example{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/jquery.treetable.css" />
    <link rel="stylesheet" href="/css/jquery.treetable.theme.default.css" />
    <link rel="stylesheet" href="/css/split-pane.css">

    <style>
        #treecontainer {
            margin: 10px;
            padding: 10px;
        }

        #left-component {
                width: 20em; /* Same as divider left */
        }

        #my-divider {
                left: 20em;
                width: 5px;
        }

        #right-component {
                left: 20em; /* Same as divider left */
                margin-left: 5px; /* Same as divider width */
        }

        .split-pane-frame {
            height: 500px;
            background-color: silver;
            padding: 0;
        }

        .split-pane-row {
            height: 100%;
            padding: 0;
        }

        .decoration {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid gray;
            background: white;
            width: 100%;
            height: 100%;
            padding: 0 1em;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
                <div class="container split-pane-frame">
                    <div class="col-lg-12 split-pane-row">
                        <div class="split-pane fixed-left">
                            <div class="split-pane-component" id="left-component">
                                <div class="decoration"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
                                    <p>
                                        This split pane component is fixed: when re-sizing the browser window, it will keep the same width.
                                    </p>
                                    <p>
                                        You can, however, re-size this component by dragging the divider, and it will adjust if the right component reaches it's <code>min-width</code> (<code>0px</code> in this example).
                                    </p>
                                </div>
                            </div>
                            <div class="split-pane-divider" id="my-divider"></div>
                            <div class="split-pane-component" id="right-component">
                                <div class="decoration"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
                                    <p>This split pane component is dynamic: when re-sizing the browser window, the width will adjust.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--
                <div id="treecontainer">
                    <div class="loading" style="display: none;"><img src="resources/images/loader.gif" alt="">Loading data ...</div>
                    <table id="treetable" style="display: none;">
                        <tbody id="tree-content"></tbody>
                    </table>
                </div>
-->
{% endblock %}

{% block script %}
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/jquery.treetable.js"></script>
        <script src="/js/split-pane.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>

        <script>
            var selected_index = null;
            
            var colorize = function() {
                $visible_rows = $('#tree-content tr:not([style*="display: none;"])');
                var len = $visible_rows.length;
                
                for (var i = 0; i < len; i++) {
                    $row = $($visible_rows[i]);
                    
                    if (i % 2 === 0) {
                        $row.removeClass('treetable_dark');
                        $row.addClass('treetable_light');
                    } else {
                        $row.removeClass('treetable_light');
                        $row.addClass('treetable_dark');
                    }
                };
            };
            
            var row_clicked = function(e) {
                var treecontainerOffset = 20; // from style of #treecontainer
                var indenterWidth = $(this).find('.indenter')[0].clientWidth;
                var x = e.clientX;

                if (x > treecontainerOffset + indenterWidth) {
                    if (selected_index !== null) {
                        $('tr[data-tt-id="' + selected_index + '"]').removeClass('treetable_selected');
                    }
                    selected_index = $(this).data('tt-id');
                    $(this).addClass('treetable_selected');
                }
            };

            var get_table_row = function(content_node, parent) {
                /*
                <tr data-tt-id="1.1.1" data-tt-parent-id="1.1">
                    <td>Node 1.1.1: I am part of the tree too!</td>
                    <td>That's it!</td>
                </tr>
                */

                var content = content_node.content;
                var key_url = content_node.key_url;
                var id = content['title'].substr(content['title'].lastIndexOf('_') + 1);
                var parent_part = '';
                
                if (parent) {
                    parent_part = 'data-tt-parent-id="' + parent + '"';
                }
                
                var html = '\n                            <tr data-tt-id="' + id + '"' + parent_part + '>\n';
                html += '                                <td style="padding-left: 0;">' + content['title'] + '</td>\n';
                html += '                            </tr>\n';

                if (content_node.children !== null && content_node.children.length > 0) {
                    for (var i = 0; i < content_node.children.length; i++) {
                        html += get_table_row(content_node.children[i], id);
                    }
                }

                return html;
            };

            $(document).ready(function(e) {
                /*
                $('.loading').show();
                $.getJSON('/overview?operation=list-data', function(result) {
                    var html = '';
                    var dataObject = JSON.parse(result.data);
                    $.each(dataObject, function(key, value) {
                        html += get_table_row(value);
                    });
                    $('#tree-content').html(html);
                    $("#treetable").treetable({
                        onNodeCollapse: colorize,
                        onNodeExpand: colorize,
                        indent: 10,
                        expandable: true
                    });
                    
                    colorize();
                    $('#treetable tr').click(row_clicked);
                    $('.loading').hide();
                    $('#treetable').show();
                });
                */

                $('div.split-pane').splitPane();
            });
        </script>
{% endblock %}