{% extends "base.html" %}

{% block title %}Quickread - Treetable Example{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/jquery.treetable.css" />
    <link rel="stylesheet" href="/css/jquery.treetable.theme.default.css" />

    <style>
        #treecontainer {
            margin: 10px;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
                <div id="treecontainer">
                    <div class="loading" style="display: none;"><img src="resources/images/loader.gif" alt="">Loading data ...</div>
                    <table id="treetable" style="display: none;">
                        <tbody id="tree-content"></tbody>
                    </table>
                </div>
{% endblock %}

{% block script %}
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/jquery.treetable.js"></script>

        <script>
            var selected_index = null;
            
            var colorize = function() {
                $visible_rows = $('#tree-content tr:not([style*="display: none;"])');
                var len = $visible_rows.length;
                
                for (var i = 0; i < len; i++) {
                    $row = $($visible_rows[i]);
                    
                    if (i % 2 === 0) {
                        $row.removeClass('treetable_dark');
                        $row.addClass('treetable_light');
                    } else {
                        $row.removeClass('treetable_light');
                        $row.addClass('treetable_dark');
                    }
                };
            };
            
            var row_clicked = function(e) {
                var treecontainerOffset = 20; // from style of #treecontainer
                var indenterWidth = $(this).find('.indenter')[0].clientWidth;
                var x = e.clientX;

                if (x > treecontainerOffset + indenterWidth) {
                    if (selected_index !== null) {
                        $('tr[data-tt-id="' + selected_index + '"]').removeClass('treetable_selected');
                    }
                    selected_index = $(this).data('tt-id');
                    $(this).addClass('treetable_selected');
                }
            };

            var get_table_row = function(content_node, parent) {
                /*
                <tr data-tt-id="1.1.1" data-tt-parent-id="1.1">
                    <td>Node 1.1.1: I am part of the tree too!</td>
                    <td>That's it!</td>
                </tr>
                */

                var content = content_node.content;
                var key_url = content_node.key_url;
                var id = content['title'].substr(content['title'].lastIndexOf('_') + 1);
                var parent_part = '';
                
                if (parent) {
                    parent_part = 'data-tt-parent-id="' + parent + '"';
                }
                
                var html = '\n                            <tr data-tt-id="' + id + '"' + parent_part + '>\n';
                html += '                                <td style="padding-left: 0;">' + content['title'] + '</td>\n';
                html += '                            </tr>\n';

                if (content_node.children !== null && content_node.children.length > 0) {
                    for (var i = 0; i < content_node.children.length; i++) {
                        html += get_table_row(content_node.children[i], id);
                    }
                }

                return html;
            };

            $(document).ready(function(e) {
                $('.loading').show();
                $.getJSON('/overview?operation=list-data', function(result) {
                    var html = '';
                    var dataObject = JSON.parse(result.data);
                    $.each(dataObject, function(key, value) {
                        html += get_table_row(value);
                    });
                    $('#tree-content').html(html);
                    $("#treetable").treetable({
                        onNodeCollapse: colorize,
                        onNodeExpand: colorize,
                        indent: 10,
                        expandable: true
                    });
                    
                    colorize();
                    $('#treetable tr').click(row_clicked);
                    $('.loading').hide();
                    $('#treetable').show();
                });
            });
        </script>
{% endblock %}