#content {
    margin-top: 60px;
    font-family: Courier;
    font-size: 16px;
}

.successful {
    color: green;
}

.unsuccessful {
    color: red;
}

.title {
    color: blue;
}

ul {
    list-style-type: none;
}